#header-placeholder{
    background-color:white;
}
body {
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: white;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
}

.container {
    display: flex;
    max-width: 1500px;
    min-width: 1300px !important;
    margin: 0 auto;
    padding: 32px 0px;
    flex-wrap: wrap;
    background-color: #fff;

}

.content {
    flex: 1;
    background: white;
    margin: 2rem;
    padding: 0 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}
main.content, section.section {
    display: block;        /* 기본값이지만 명시적이면 충돌 방지에 도움됨 */
    height: auto;          /* 콘텐츠에 따라 자동으로 높이 조정 */
    overflow: visible;     /* 자식 요소가 넘칠 경우를 대비 */
}

/*사이드바*/
.sidebar {
    width: 270px;
    background-color: #91009e;
    color: white;
    padding: 30px 20px;
    border-radius: 10px;
    height: fit-content;
}

.sidebar .profile {
    text-align: center;
}

.sidebar .profile img {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar .profile p:first-of-type {
    font-size: 20px;
    font-weight: bold;
}

.sidebar .profile p:last-of-type {
    font-size: 16px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li, .sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 6px 10px;
}

.sidebar ul li h3 {
    font-size: 15px;
    margin: 5px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
.profile-settings > h3 {
    padding: 0 10px 5px 10px;
}
.profile-settings > h3 > a{
    margin-left: 10px;
}
.sidebar li a.active, .sidebar li h3.active, .sidebar li h3 a.active {
    font-size: 16px;
    font-weight: bold;
    background-color: #ffffff22;
    padding-left: 5px;
    border-radius: 5px;
}

.main-section {
    max-height: 300px;
}
.section {
    margin-bottom: 40px;
}

.section h3 {
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 15px;
    color: #4a4a4a;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: auto;
    table-layout: fixed;
}

th, td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;

}

thead th {
    background-color: #f1f1f1;
    padding: 12px;
    font-weight: bold;
    text-align: center;
    color: #444;
}

tbody td {
    padding: 14px 5px;
    text-align: center;
    color: #333;
}

tbody tr td a {
    text-decoration: none;
    color: black;
}
td.main-empty{
    height: 150px;
    font-size: 15px;
    min-height: 588px;
    background: white;
}
.empty{
    width: 100%;
    max-height: fit-content;
}
td.empty > p {
    margin-left: 15px;
}
.duration{
    max-width: 150px;
}
.deadline{
    max-width: 170px;
}
.d-day {
    color: red;
    /* margin-top: 4px; */
    align-items: center;
    justify-content: center;
    align-content: center;
    font-weight: bold;
}

.status {
    display: inline-block;
    padding: 3px 8px;
    font-size: 13px;
    border-radius: 12px;
    font-weight: bold;
    background-color: #d1fae5;
    color: #065f46;
}

div.empty {
    min-height: 400px;
    display: grid;
    background: white;
    justify-items: center;
    align-items: center;
}
.empty > div{
    font-size: 25px;
}
td.empty{
    height: 400px;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
}
.center{
    text-align: center;
}
.pagination {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.pagination a.active-page {
    background-color: #91009e;
    color: white;
    border: 1px solid #91009e;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}