.container {
    font-family: 'Noto Sans KR', sans-serif;
}
.profile-box {
    text-align: center;
    margin-bottom: 40px;
}
.main-content {
    flex: 1;
    padding: 40px;
    background-color: #f9f9fb;
}

.main-content h2 {
    font-size: 20px;
    margin-bottom: 5px;
}
.h3 > span{
    font-size: 14px;
    color: #777;
    margin-left: 16px;

}
.subtext {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.project-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.project-table th,
.project-table td {
    padding: 12px 6px;
    border-bottom: 1px solid #eee;
    text-align: center;
    font-size: 14px;
}

.project-table thead {
    background-color: #f1f1f1;
}
.center{
    text-align: center !important;
}
tr > th:first-child,
tr > td:first-child {
    width: 37px;
    text-align: center !important;
}
tr > th:last-child {
    width: 15.7%;
    /*width: 175px;*/
}
tr td:nth-child(4),tr > th:nth-child(4) {
    /*width: 85px;*/
    width: 8%;
}
/*tr > td:last-child, tr td:nth-child(8) {
    width: 85px;
}*/
*tr > td:last-child, tr td:nth-child(7) {
    width: 85px;
}
.project-table .d-day {
    color: red;
    font-weight: bold;
}

.project-table .closed {
    color: red;
}
.delete-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 15px 0;
}

.delete-button {
    padding: 8px 20px;
/*    background-color: #ff4d4f;
    color: white;*/
    background-color: #ffe5e5;
    color: #d93025;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.delete-button:hover {
    background-color: #e04344;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.pagination button {
    padding: 5px 12px;
    border: none;
    border-radius: 20px;
    background-color: #eee;
    cursor: pointer;
}

.pagination button.active {
    background-color: #5e2c84;
    color: white;
}

.pagination span {
    font-size: 14px;
    color: #555;
}
