.container {
    font-family: 'Noto Sans KR', sans-serif;
}
.profile-box {
    text-align: center;
    margin-bottom: 40px;
}
/*
.profile-img {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.nickname {
    font-size: 20px;
    font-weight: bold;
}

.mypage-label {
    font-size: 18px;
    margin-top: 5px;
}

.sidebar-menu p {
    margin: 20px 0 5px;
    font-weight: bold;
    font-size: 14px;
}

.sidebar-menu ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 10px;
}

.sidebar-menu li {
    padding: 6px 0;
    cursor: pointer;
}

.sidebar-menu li.active {
    color: black;
    background-color: white;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: bold;
}*/

.main-content {
    flex: 1;
    padding: 40px;
    background-color: #f9f9fb;
}

.main-content h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.subtext {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.project-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.project-table th,
.project-table td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-size: 14px;
}

.project-table thead {
    background-color: #f1f1f1;
}

.project-table .d-day {
    color: red;
    font-weight: bold;
}

.project-table .closed {
    color: red;
}
.delete-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.delete-button {
    padding: 8px 20px;
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.delete-button:hover {
    background-color: #e04344;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.pagination button {
    padding: 5px 12px;
    border: none;
    border-radius: 20px;
    background-color: #eee;
    cursor: pointer;
}

.pagination button.active {
    background-color: #5e2c84;
    color: white;
}

.pagination span {
    font-size: 14px;
    color: #555;
}
