/* 전체 컨테이너 */
.container {
    background-color: #f5f5f5;
    font-family: 'Pretendard', sans-serif;
}
.content{
    padding: 0px 15px;
}
/* 메인 콘텐츠 영역 */
/*.main-content {
    flex: 1;
    padding: 40px 60px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-left: 30px;
}*/

/* 페이지 타이틀 */
.page-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #222;
}

/* 페이지 설명 */
.page-description {
    font-size: 13px;
    color: #999;
    margin-bottom: 20px;
}

/* 테이블 스타일 */
.project-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.project-table th {
    background-color: #f1f1f1;
    padding: 14px;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
}

.project-table td {
    padding: 16px 12px;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
    text-align: center;
    color: #333;
}

/* 프로젝트 정보 셀 */
.project-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 12px;
}

.project-info img {
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
}

.project-info div {
    line-height: 1.4;
}

.project-text {
    font-size: 14px;
    line-height: 1.4;
}

.project-text span {
    color: #666;
    font-size: 12px;
}

/* 상태 뱃지 */
.status {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.status.success {
    background-color: #1aa251;
}

.status.cancel {
    background-color: #e74c3c;
}

/* 취소 날짜 */
.cancel-date {
    font-size: 12px;
    color: #e74c3c;
    display: block;
    margin-top: 4px;
}

/* 지원 취소 버튼 */
.cancel-btn {
    background-color: #8E0D8D;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.2s ease;
}


.cancel-btn:hover {
    background-color: #871187;
}

/* 승인 완료 텍스트 */
.approved {
    color: #1aa251;
    font-weight: 600;
}

/* 마감 텍스트 */
.expired-text {
    color: #e74c3c;
    font-weight: 600;
    font-size: 13px;
}
