@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px 24px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
  text-align: center;
  width: 320px;
}

.logo img {
  height: 40px;
  margin-bottom: 16px;
}

h1 {
  color: #9900cc;
  font-size: 22px;
  margin-bottom: 20px;
}

p {
  margin: 8px 0;
  font-size: 14px;
  color: #444;
  line-height: 1.5;
}

.subtitle {
  font-size: 12px;
  color: #888;
  margin-bottom: 20px;
}

.section-title {
  font-size: 13px;
  color: #b06fb6;
  margin: 16px 0 8px;
  text-align: left;
}

.button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  
}

.button:hover {
  background-color: #e8dcf3;
}

.checkmark {
  color: #9900cc;
  margin-right: 10px;
  font-size: 16px;
}
a {
  text-decoration: none;
}