@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.logo img {
  height: 50px;
  margin-bottom: 16px;
}
.text1{
  font-size: 22px;
}
  .container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
  }

  h2 {
    text-align: center;
    color: #990099;
  }

  label {
    display: block;
    margin-top: 20px;
  }

  input[type="text"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .checkbox-group {
    margin-top: 25px;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    font-size: 14px;
  }
  .checkbox-group label {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  
  .checkbox-group input {
    margin-right: 10px;
  }
  .required {
    color: red;
  }

  button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #990099;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }