<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org/DTO Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <typeAliases>
        <typeAlias type="dto.LWYProject" alias="project"/>
        <typeAlias type="dto.DashboardProject" alias="dproject"/>
    </typeAliases>

    <environments default="deveLopment">
        <environment id="deveLopment">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://svc.sel4.cloudtype.app:32176/linkup?serverTimezone=Asia/Seoul"/>
                <property name="username" value="root"/>
                <property name="password" value="wy12wy10"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/project.xml"/>
        <mapper resource="mapper/dashboardproject.xml"/>
    </mappers>

</configuration>