<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org/DTO Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="dto.ClientUserDetail" alias="adminuserdetail"/>
        <typeAlias type="dto.User" alias="user"/>
        <typeAlias type="dto.Project" alias="project"/>
        <typeAlias type="dto.Ammount" alias="ammount"/>
        <typeAlias type="dto.Apply" alias="apply"/>
        <typeAlias type="dto.Category" alias="category"/>
        <typeAlias type="dto.Client" alias="client"/>
        <typeAlias type="dto.Contract" alias="contract"/>
        <typeAlias type="dto.Freelancer" alias="freelancer"/>
        <typeAlias type="dto.ClientFavorites" alias="jjimfree"/>
        <typeAlias type="dto.JjimProj" alias="jjimProj"/>
        <typeAlias type="dto.Level" alias="lv"/>
<!--        <typeAlias type="dto.Pay" alias="pay"/>-->
        <typeAlias type="dto.Portfolio" alias="portfolio"/>
        <typeAlias type="dto.QnA" alias="qna"/>
        <typeAlias type="dto.RepresentPortfolio" alias="represenPortfolio"/>
        <typeAlias type="dto.Review" alias="review"/>
        <typeAlias type="dto.Settlelist" alias="settlelist"/>
        <typeAlias type="dto.Settlement" alias="settlement"/>
        <typeAlias type="dto.SubCategory" alias="subCategory"/>
        <typeAlias type="dto.Alarm" alias="alarm"/>
        <typeAlias type="dto.DashboardProject" alias="dproject"/>
        <typeAlias type="dto.ClientUserInfo" alias="adminclient"/>
        <typeAlias type="dto.Project" alias="project"/>
        <typeAlias type="dto.DashboardProject" alias="dashboardProject"/>
        <typeAlias type="dto.Notice" alias="notice"/>
        <typeAlias type="dto.News" alias="news"/>
    </typeAliases>


    <environments default="deveLopment">
        <environment id="deveLopment">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://svc.sel4.cloudtype.app:32176/linkup?serverTimezone=Asia/Seoul"/>
                <property name="username" value="root"/>
                <property name="password" value="wy12wy10"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/user.xml"/>
        <mapper resource="mapper/client.xml"/>
        <mapper resource="mapper/project.xml"/>
<!--        <mapper resource="mapper/ammount.xml"/>-->
       <mapper resource="mapper/apply.xml"/>
<!--        <mapper resource="mapper/category.xml"/>-->
        <mapper resource="mapper/adminclient.xml"/>
        <mapper resource="mapper/adminproject.xml"/>
<!--        <mapper resource="mapper/contract.xml"/>-->
        <mapper resource="mapper/freelancer.xml"/>
        <mapper resource="mapper/jjimfree.xml"/>
        <mapper resource="mapper/jjimProj.xml"/>
<!--        <mapper resource="mapper/lv.xml"/>-->
<!--        <mapper resource="mapper/pay.xml"/>-->
        <mapper resource="mapper/portfolio.xml"/>
        <mapper resource="mapper/dashboardproject.xml"/>
<!--        <mapper resource="mapper/project.xml"/>-->
        <mapper resource="mapper/qna.xml"/>
<!--        <mapper resource="mapper/RepresenPortfolio.xml"/>-->
<!--        <mapper resource="mapper/riview.xml"/>-->
<!--        <mapper resource="mapper/settlelist.xml"/>-->
<!--        <mapper resource="mapper/settlement.xml"/>-->
        <mapper resource="mapper/subCategory.xml"/>
<!--        <mapper resource="mapper/alarm.xml"/>-->
        <mapper resource="mapper/notice.xml"/>
        <mapper resource="mapper/news.xml"/>
        <mapper resource="mapper/afreelancer.xml"/>
    </mappers>
</configuration>